/*
kelly green -> #29BB1B
dark moss green -> #005D00
dark green -> #002600
office green -> #002600
SGBUS green -> #07EA16
 */
@font-face {
	font-family: "3720-Propo";
	src: url('/static/fonts/3270/3270NerdFontPropo-Regular.ttf');
}

@font-face {
	font-family: "3720-Mono";
	src: url('/static/fonts/3270/3270NerdFontMono-SemiCondensed.ttf');
}

body {
	font-family: "3720-Mono", serif;
	background-color: #061307;
	display: flex;
	flex-direction: column;
	min-height: 98vh;
}

.title {
	background-color: rgba(0, 93, 0, 0.5);
	color: #29BB1B;
	text-align: center;
	vertical-align: middle;
	line-height: 75px; /* TODO: Get rid of this */
}

p.subtitle {
	color: #29BB1B;
	font-size: x-large;
	font-weight: bold;
	margin-left: 25px;
	margin-right: 25px;
	text-align: center;
}

h1.subtitle {
	color: #29BB1B;
	font-size: x-large;
	font-weight: bold;
	margin-left: 25px;
	margin-right: 25px;
	text-align: left;
}

h2.subtitle {
	color: #29BB1B;
	font-size: large;
	font-weight: bold;
	margin-left: 25px;
	margin-right: 25px;
	text-align: left;
}

h3.subtitle {
	color: #29BB1B;
	font-size: medium;
	font-weight: bold;
	margin-left: 25px;
	margin-right: 25px;
	text-align: left;
}

a.no-style:link {
	text-decoration: inherit;
	color: inherit;
	cursor: pointer;
}

td.blog-column {
	padding: 5px 15px;
}

a.no-style:visited {
	text-decoration: inherit;
	color: inherit;
	cursor: pointer;
}

p.blog-title {
	font-size: large;
	font-weight: bold;
	color: #07EA16;
}

p.blog-metadata {
	color: #267E12;
	font-size: medium;
}

div.container {
	min-width: 700px;
	max-width: 1500px;
	margin: auto;
	background-color: #0A1F0A;
	flex: 1;
}

div.code-block {
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 10px;
	margin-left: 10px;
	background-color: black;
}

nav {
	width: 100%;
	text-align: justify;
}

p.nav-link {
	display: inline-block;
	color: #29BB1B;
	font-weight: bolder;
	cursor: pointer;
}

img.centered-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

img.rounded-corners {
	border-radius: 25px;
}

div.centered-image-container {
	padding-top: 10px;
	padding-bottom: 10px;
}

ul {
	list-style-type: none;
}
